body {
  background: #fffffd;
  color: #1a1a1a;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#title {
  margin-bottom: 20px;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #4b4b4b;
}

#paragraph {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
  cursor: not-allowed;
  border: 3px solid #e4e4e4;
  color: #4b4b4b;
}

#userInput {
  background-color: #fff;
  color: #505050;
  height: 80px;
  width: 50%;
  font-size: 1.5rem;
  margin: 15px;
  padding: 2rem;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  border: 3px solid #e5e5e5;
  border-bottom-width: 6px;
}

#userInput:focus {
  outline-color: #e5e5e5;
}

#popup {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}

#popupInfos {
  display: flex;
  align-items: center;
}

@media screen and (width < 768px) {
  #popupInfos {
    flex-direction: column;
  }
  body {
    overflow-y: visible;
  }
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  bottom: 20px;
  min-width: 78px;
  min-height: 90px;
  font-family: "Roboto", sans-serif;
  border-radius: 20%;
  font-size: 18px;
  transition: all 0.5s;
  font-weight: 400;
  color: #fffffd;
}

#timer.more {
  background-color: hsl(95, 98%, 40%);
  border-bottom: 4px solid hsl(88deg 100% 33%);
}

#timer.mid {
  background-color: hsl(47deg 100% 50%);
  border-bottom: 4px solid hsl(43deg 99% 45%);
}

#timer.less {
  background-color: hsl(360deg 100% 65%);
  border-bottom: 4px solid hsl(0deg 70.25% 52.55%);
}

#errors,
#accuracy,
#cpm,
#wpm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.11);
  background-color: #eee;
  box-shadow: 0 14px 26px rgb(0 0 0 / 4%);
  font-size: 20px;
  padding: 20px;
  margin: 10px;
  min-width: 100px;
  border-radius: 10px;
}

#errors:hover,
#accuracy:hover,
#cpm:hover,
#wpm:hover {
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px rgba(220, 233, 255, 0.48);
  transform: scale(1.005);
  cursor: pointer;
}

#accuracy.full {
  background: linear-gradient(
    to right,
    rgb(123, 31, 162),
    rgb(103, 58, 183),
    rgb(184, 39, 134),
    rgb(123, 31, 162)
  );
  background-size: 400% 400%;
  animation: background-pan 8s ease infinite;
  color: #fff;
}

@keyframes background-pan {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

.popupInfo {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #472b00;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  background-color: #ffc801;
  border-radius: 4px;
}

.timeData,
.errorsData,
.accuracyData,
.cpmData,
.wpmData {
  font-size: 2rem;
  margin: 10px;
}

#restartBtn {
  display: none;
  position: absolute;
  bottom: 12px;
  right: 25px;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  cursor: pointer;
  background-color: #fff;
  transition: 0.5s;
}

#restartBtn:hover {
  background-color: #1a1a1a;
  color: #fff;
}

.wrongInput {
  color: red;
  text-decoration: underline;
}

.correctInput {
  color: rgb(21, 162, 21);
}

.overlay {
  opacity: 0.5;
  transition: opacity 0.3s;
}

#progressContainer {
  background: #e5e5e5;
  border-radius: 20px;
  height: 20px;
  width: 100%;
}

#progressBar.active {
  background-color: #57cc02;
  height: 20px;
  width: 100%;
  animation: grow 60s linear;
  transform-origin: left;
  border-radius: 20px;
}

@keyframes grow {
  0% {
    width: 0%;
  }
}
